<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
	layout:decorate="layout/base_layout">

<div layout:fragment="content">
	<div class="row">
		<div class="col-2 mb-3" th:each="item : ${itemList}">
			<div class="card">
			  <img src="/images/958614fa-d46f-4037-ae9d-47eaf5a8fce5.jpg" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title" >
			    	<a th:href="@{/item/itemDetail}" th:text="${item.itemName}"></a>
			    </h5>
			    <p class="card-text" th:text="${#numbers.formatCurrency(item.itemPrice)}">1000</p>
			  </div>
			</div>
		</div>
	</div>
</div>


</html>

